################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/AzureVoucherValidityCheck/v14

AzureVoucherValidityCheck/obj/
AzureVoucherValidityCheck/bin/
